<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Merci</title>
  <link rel="stylesheet" href="../res/css/recup-mdp.css" />
</head>
<body>

  <div class="container">
    <!-- Logo image -->
    <div class="image"><img src="../res/Images/merci.png" alt="logo ecotrack"></div>
    <!-- Confirmation icon -->
    <div class="icon">👍</div>

    <h1>Merci.</h1>
    <p>Vous serez rediriger vers la page de connexion dans<span id="countdown">5</span> secondes...</p>
    <p>Cliquez ici<a href="connexion.html"> </a>Si vous n'etes pas rediriger automatiquement</p>


  <script src="../res/js/recup-mdp.js"></script>
</body>
</html>
