# Ignorer les fichiers de base de données
company.sql
# Ignorer les fichiers de configuration sensibles
.env

# Ignorer les fichiers spécifiques à l'application
LoopingImage.jpg

# Ignorer les fichiers générés
*.log

# Ignorer les fichiers spécifiques aux éditeurs (si nécessaire)
.vscode/
.idea/

# Ignorer les fichiers de dépendances Node.js (si applicable)
node_modules/

# Ignorer les fichiers temporaires de l'éditeur
*~
*.swp
*.php~

# Fichiers système
.DS_Store
Thumbs.db