.question {
    display: none;
}
.question.active {
    display: block;
}
#submitBtn {
    display: none;  
}
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 2rem; /* Assurez-vous que le footer ne se chevauche pas avec le contenu */
}